#main-container {
    background-color: #1F2937;
    width: 500px;
    height: 450px;
    margin: 50px auto;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    text-align: left;
    font-family: 'Inter', sans-serif;;
}

#title {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0;
}

.title-white {
    color: #FFFFFF;
}

.title-green {
    color: #4ADF86;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #D5D4D8;
    margin-bottom: 40px;
}

.generate-container {
    color: #D5D4D8;
    width: 400px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-length-container {
    display: flex;
}

.password-length {
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 16px;
}

.generate-container input {
    background: #273549;
    color: #D5D4D8;
    width: 36px;
    border: none;
    border-radius: 6px;
    height: 28px;
    padding-left: 20px;
    margin-right:20px;
}

input:focus {
    outline: thin dotted #10B981;
}

#user-password-length {
    display: incline-block;
}

#user-password-length.length-settings-error {
    border: 1px solid #E57373;
}

#user-password-length.length-settings-error:focus {
    outline: none;
}

#error-msg {
    color: #1F2937;
    font-size: 10px;
    height: 16px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    border-radius: 6px;
    width: 215px;
    display: inline-block;
    margin-top: 6px;
}

#error-msg.apply-background {
    background: #E57373;
}

.btn-generate {
    font-size: 16px;
    padding: 9px 15px;
    color: #FFFFFF;
    background: #10B981;
    border: none;
    border-radius: 6px;
    margin-bottom: 30px;
}

.generate-container {
    width: 460px;
    border-bottom: 1px solid #2F3E53;
}

.passwords-container {
    display: flex;
    justify-content: space-between;
}

.password-container {
    width: 210px;
    height: 40px;
    background: #273549;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    display: flex;
}

.generated-password {
    margin-top: 10px;
    color: #55F991;
    display: inline-block;
    width: 180px;
}

.copy-btn {
    background: #273549;
    border: none;
    display: inline-block;
}

.copy-btn i {
    color: #D5D4D8;
}

.inline-btn {
    margin-top: 10px;
    display: inline-block;
}

#copy-msg {
    visibility: hidden;
    color: #D5D4D8;
    min-width: 150px;
    margin-top: 70px;
    margin-left: 0px;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    left: 170px;
    z-index: 1;
    position: fixed;
  }
  
#copy-msg.show {
    visibility: visible;
}