html, body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #1F2937;
    max-width: 100%;
    width: 100vw;
    min-width: 320px;
    width: 100vw;
    overflow-x: hidden !important;
}

.main-container {
    background-color: #1F2937;
    height: 100vh;
    text-align: center;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 15px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


.toggle-mode-btn {
    background: none;
    border: none;
    color:#fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 230px;
}

#title {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0;
    max-width: 90%;
}

.title-white {
    color: #FFFFFF;
}

.title-green {
    color: #4ADF86;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #D5D4D8;
    margin-bottom: 15px;
    max-width: 90%;
}

.generate-container {
    color: #D5D4D8;
    width: 90%;
    border-bottom: 1px solid #2F3E53;
    text-align: center;
}

.user-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-settings-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-left: 35px;
   width: 230px;
   white-space: nowrap;
}

.password-settings {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    height: 25px;
}

.password-settings-left {
    margin-right: 30px;
}

.password-length-input {
    margin-left: 22px;
}

.user-password {
    background: #6B7280;
    color: #FFFFFF;
    width: 28px;
    border: none;
    border-radius: 6px;
    height: 28px;
    padding-left: 15px;
}

input:focus {
    outline: thin dotted #10B981;
}

.toggle-container {
    margin-top: 5px;
}

.toggle {
	cursor: pointer;
	display: inline-block;
}

.toggle-switch {
	display: inline-block;
	background: #6B7280;
	border-radius: 16px;
	width: 46px;
	height: 25px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%,#eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
		width: 18px;
		height: 18px;
		position: absolute;
		top: 3.5px;
		left: 5.5px;
		transition: left 0.25s;
	}
	.toggle:hover &:before {
		background: linear-gradient(to bottom, #fff 0%,#fff 100%);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
	}
	.toggle-checkbox:checked + & {
		background: #4ADF86;
		&:before {
			left: 22px;
		}
	}
}

.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}

.toggle-label {
	margin-left: 4px;
	position: relative;
	top: 1px;
}

#user-password-length.length-settings-error {
    border: 2px solid #EF5350;
}

#user-password-length.length-settings-error:focus {
    outline: none;
}

#error-msg {
    color: #FFFFFF;
    font-size: 9.5px;
    height: 16px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 4px;
    max-width: 90%;
}

#error-msg.apply-background {
    background: #EF5350;
}

.btn-generate {
    font-size: 16px;
    padding: 9px 15px;
    color: #FFFFFF;
    background: #10B981;
    border: none;
    border-radius: 6px;
    margin-top: 45px;
    margin-bottom: 30px;
    width: 220px;
    cursor: pointer;
}

.passwords-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.password-container {
    width: 220px;
    height: 35px;
    background: #273549;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    display: flex;
}

.generated-password {
    margin-top: 10px;
    padding-left: 3px;
    color: #55F991;
    font-size: 13px;
    display: inline-block;
    width: 185px;
}

.copy-btn {
    background: #273549;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.copy-btn i {
    color: #D5D4D8;
}

.inline-btn {
    margin-top: 10px;
    display: inline-block;
}

.copy-msg-container {
    max-width: 90%;
}

.copy-msg-text {
    visibility: hidden;
    color: #273549;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 12px;
    padding: 6px;
    text-align: left;
    display: inline-flex;
    border-radius: 6px;
}

.copy-msg-text-bckg {
    background: #D5D4D8;
}
  
#copy-msg.show {
    visibility: visible;
}

.footer {
    text-align: center;
    width: 85%;
}

.social-links {
    float: none;
    display: block;
    margin-top: 20px;
    padding-bottom: 25px;
}

.footer-text {
    color: #D5D4D8; 
    font-size: 11px;
    display: inline;
}

.footer-icon-red {
    color: #EF5350; 
}

.footer-icon-grey {
    color: #6B7280;
    font-size: 25px;
}

.fa-github {
    margin-right: 10px;
}

/* LIGHT MODE STYLES */
.light {
    background-color: #ECFDF5;
}

.text-dark {
    color: #273549;
}

.text-darker-green {
    color: #10B981;
}

.grey-text {
    color: #6B7280;
}

.toggle-dark {
    background-color: #1F2937; 
}

.background-dark {
    background-color: #1F2937 !important; 
}

.icon-dark {
    color: #1F2937;
}

.footer-text-dark {
    color: #1F2937; 
    font-size: 11px;
    display: inline;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 372px) and (max-width: 767px) {
    #main-container {
        width: 80vw;
        margin: 0 auto;
    }

    #title {
        max-width: 90%;
        font-size: 30px;
    }

    #subtitle {
        font-size: 22px;
    }

    .toggle-mode-btn {
        float: right;
        font-size: 30px;
    }

    .generate-container {
        text-align: center;
    }

    .user-settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        margin-top: 50px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 2400px) {
    .main-container {
        margin-top: 20px;
        max-width: 60%;
        max-height: 100vh;
    }

    .toggle-mode-btn {
        float: none;
        margin-left: 0;
        margin-right: 30px;
        font-size: 45px;
        height: 60px;
        width: 60px;
    }

    .toggle-mode-btn:hover {
        background-color: rgb(243, 237, 237, 0.5);   
    }

    #title {
        font-size: 50px;
    }

    #subtitle {
        font-size: 30px;
    }

    #error-msg {
        font-size: 15px;
        height: 26px;
        margin-bottom: 20px;
        margin-top: 6px;
    }    

    .generate-container {
        text-align: left;
    }

    .passwords-container {
        align-items: flex-start;
    }

    .password-settings {
        font-size: 25px;
        height: 40px;
    }

    .password-settings-left {
        margin-right: 62px;
    }

    .toggle-left-margin .password-settings {
        width: 285px;
    }

    .password-settings-container {
        margin-left: 0px;
    }

    .user-password {
        height: 38px;
        width: 54px;
        font-size: 24px;
    }

    .toggle-switch {
        width: 70px;
        height: 36px;

        &:before {
            width: 28px;
            height: 28px;
        }

        .toggle-checkbox:checked + & {
            &:before {
                left: 35px;
            }
        }
    }

    .btn-generate {
        font-size: 22px;
        padding: 16px 15px;
        width: 400px;
    }

    .password-container {
        width: 400px;
        height: 65px;
        margin-top: 40px;
        font-size: 26px;
        text-align: center;
        display: flex;
    }
    
    .generated-password {
        margin-top: 20px;
        padding-left: 20px;
        font-size: 22px;
        width: 600px;
    }

    .copy-btn {
        font-size: 28px;
        margin-top: 5px;
    }

    .inline-btn {
        margin-right: 8px;
        margin-left: 35px;
    }

    .footer {
        margin-top: 20px;
        text-align: center;
    }

    .footer-text {
        font-size: 20px;
        line-height: 60px;
    }

    .footer-icon-grey {
        font-size: 50px;
    }
}