#main-container {
    background-color: #1F2937;
    width: 450px;
    height: 400px;
    margin: 50px auto;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    text-align: left;
    font-family: 'Inter', sans-serif;;
}

#title {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0;
}

.title-white {
    color: #FFFFFF;
}

.title-green {
    color: #4ADF86;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #D5D4D8;
    margin-bottom: 40px;
}

.password-length-settings {
    color: #D5D4D8;
    width: 400px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-length-settings input {
    background: #273549;
    color: #D5D4D8;
    width: 50px;
    border: none;
    border-radius: 6px;
    padding: ;
}

#error-msg {
    color: rgb(239, 56, 56);
    font-size: 12px;
}

.btn-generate {
    font-size: 16px;
    padding: 9px 15px;
    color: #FFFFFF;
    background: #10B981;
    border: none;
    border-radius: 6px;
    margin-bottom: 30px;
}

.generate-container {
    width: 450px;
    border-bottom: 1px solid #2F3E53;
}

.passwords-container {
    display: flex;
    justify-content: space-between;
}

.password-container {
    width: 210px;
    height: 40px;
    background: #273549;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 16px;
    color: #55F991;
    text-align: center;
}

.generated-password {
    margin-top: 10px;
}